Predicitive maintanance model

Made by: Joey Einerhand, Cédric Cortenraede, Lennox Narinx, Giuseppe Collura

In [39]:
import pandas as pd

# Cooler condition (%)
df_ce = pd.read_csv("data/CE.txt", sep="\t", header=None, names=["CE"])

# Valve condition (%)
df_se = pd.read_csv("data/SE.txt", sep="\t", header=None, names=["SE"])

# Internal pump leakage (l/min)
df_fs1 = pd.read_csv("data/FS1.txt", sep="\t", header=None, names=["FS1"])
df_fs2 = pd.read_csv("data/FS2.txt", sep="\t", header=None, names=["FS2"])

# Hydraulic accumulator (bar)
df_ps1 = pd.read_csv("data/PS1.txt", sep="\t", header=None, names=["PS1"])
df_ps2 = pd.read_csv("data/PS2.txt", sep="\t", header=None, names=["PS2"])
df_ps3 = pd.read_csv("data/PS3.txt", sep="\t", header=None, names=["PS3"])
df_ps4 = pd.read_csv("data/PS4.txt", sep="\t", header=None, names=["PS4"])
df_ps5 = pd.read_csv("data/PS5.txt", sep="\t", header=None, names=["PS5"])
df_ps6 = pd.read_csv("data/PS6.txt", sep="\t", header=None, names=["PS6"])

# Severity grade for each type
df_severity = pd.read_csv("data/profile.txt", sep="\t", header=None, names=["Severity"])

In [42]:
# Make seperate dataframes from loaded data
# Dataframe for Internal pump leakage
df_fs = pd.DataFrame()

df_fs["FS1"] = df_fs1["FS1"].to_numpy()
df_fs["FS2"] = df_fs2["FS2"].to_numpy()

# Dataframe for hydraulic accumulator
df_ps = pd.DataFrame()
df_ps["PS1"] = df_ps1["PS1"].to_numpy()
df_ps["PS2"] = df_ps2["PS2"].to_numpy()
df_ps["PS3"] = df_ps3["PS3"].to_numpy()
df_ps["PS4"] = df_ps4["PS4"].to_numpy()
df_ps["PS5"] = df_ps5["PS5"].to_numpy()
df_ps["PS6"] = df_ps6["PS6"].to_numpy()

In [84]:
df = pd.concat([df_fs, df_ps], axis=1, join="inner")
df["CE"] = df_ce["CE"].to_numpy()
df["SE"] = df_se["SE"].to_numpy()
df["Severity"] = df_severity["Severity"].to_numpy()

df = df.reindex(columns=["CE", "SE", "FS1", "FS2", "PS1", "PS2", "PS3", "PS4", "PS5", "PS6", "Severity"])

# Makes row index equal to time of measurement 
time_stamps = []
for i in range(len(df)):
    time_stamps.append(i * 60)

df.index = time_stamps

df

,CE,SE,FS1,FS2,PS1,PS2,PS3,PS4,PS5,PS6,Severity
0,28.866,68.264,8.036,10.373,151.19,125.10,2.211,0.000,9.722,9.615,1
60,23.588,68.595,7.890,10.391,150.86,125.04,2.219,0.000,9.623,9.517,1
120,21.519,68.628,7.952,10.356,150.62,124.88,2.266,0.000,9.521,9.423,1
180,20.403,68.868,7.773,10.261,150.28,124.59,2.273,0.000,9.420,9.325,1
240,20.016,68.972,7.825,10.216,150.19,124.51,2.297,0.000,9.333,9.231,1
...,...,...,...,...,...,...,...,...,...,...,...
132000,46.382,68.234,7.874,10.171,151.86,125.73,2.273,10.207,9.979,9.854,0
132060,46.729,68.094,7.787,10.174,151.78,125.44,2.406,10.193,9.953,9.837,0
132120,46.502,68.083,7.685,10.171,151.83,125.94,2.250,10.246,9.998,9.870,0
132180,46.570,68.077,7.793,10.189,151.78,125.91,2.281,10.189,9.953,9.842,0
132240,46.621,68.117,7.774,10.176,151.70,125.77,2.250,10.212,9.964,9.854,0